body {
    background: black;
    height: 100%;
}


/*.title {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

#wrapper {
    position: relative;
    background: url("../images/fire.jpg");
    width: 640px;
    height: 500px;
    padding: 20px;
    margin: 5% auto 3% auto;
    border: 5px solid rgb(247, 230, 4);
    border-radius: 5px;
    box-shadow: 2px 5px 15px lightgrey;
}

.big4 {
    border: 3px solid black;
    border-radius: 5px;
    padding: 2px;
}

.to-do {
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.the_word {
    position: absolute;
    font-size: 60px;
    color: white;
    bottom: 15%;
    left: 33%;
}

.win {
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: 7%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.loss {
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: 2%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.guess {
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: 2%;
    right: 5%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

@media only screen and (min-width: 640px) {
    .logo {
        width: 300px;
        height: auto;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .big4 {
        width: 400px;
        height: auto;
    }
    .big4 img {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 600px;
        height: auto;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .big4 {
        width: 600px;
        height: auto;
    }
    .big4 img {
        width: 100%
    }
}

@media only screen and (min-width: 948px) {
    .logo {
        width: 940px;
        height: auto;
    }
    .logo img {
        width: 100%;
    }
}