/*.center {
    display: fixed;
    background: url("../images/c7_dash2.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 3% auto 3% auto;
    width: 75%;
    height: 1000px;
}*/
.wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: 60%;
    padding: 10px;
    margin: 5% auto 3% auto;
    border: 5px solid grey;
}
.word {
    position: absolute;
    font-size: 80px;
    font-weight: 900;
    color: red;
    top: 15%;
    left: 30%;
}
.won1 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 25%;
    left: 6%;
}
.lost1 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 30%;
    left: 6%;
}
.guess {
    position: absolute;
    color: red;
    font-size: 30px;
    font-weight: 700;
    bottom: 20%;
    left: 52%;
}
.attempts {
    position: absolute;
    font-size: 70px;
    font-style: italic;
    font-weight: 700;
    color: white;
    bottom: 15%;
    right: 23%;
}
.letters {
    position: absolute;
    float: left;
    font-size: 25px;
    color: white;
    bottom: 5%;
    left: 5%;;
}