body {
    background: black;
    height: 100%;
    line-height: 50px;
}

#wrapper {
    position: relative;
    background: url("../images/fire.jpg");
    padding: 20px;
    height: 500px;
    margin: 5% auto 3% auto;
    border: 5px solid rgb(247, 230, 4);
    border-radius: 5px;
    box-shadow: 2px 5px 15px lightgrey;
}

.big4 {
    border: 3px solid black;
    border-radius: 5px;
}

.to-do {
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.the_word {
    font-size: 65px;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.win {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 7%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.loss {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 1%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.guess_at {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 7%;
    right: 10%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.guesses {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 1%;
    right: 25%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

#attempts {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 7%;
    right: 5%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

.alpha {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 1%;
    right: 5%;
    text-shadow: 0 0 5px red, 0 0 7px orange;
}

@media only screen and (min-width: 640px) {
    .win,
    .loss,
    .guess_at,
    .guesses,
    #attempts,
    .alpha {
        font-size: 25px;
    }
    .logo {
        width: 550px;
        height: auto;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .big4 img {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 600px;
        height: auto;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .big4 {
        width: 600px;
        height: auto;
    }
    .big4 img {
        width: 100%
    }
}

@media only screen and (min-width: 948px) {
    .logo {
        width: 940px;
        height: auto;
    }
    .logo img {
        width: 100%;
    }
    .win,
    .loss,
    .guess_at,
    .guesses,
    #attempts,
    .alpha {
        font-size: 30px;
    }
}